@import "_header.scss";
@import "_footer.scss";


body {
    background-color: lightcoral;
}

.main-content {
    display: grid;
    >p {
        color: gold;
    }
    &:hover {
        background-color: aqua;
        
        >p {
            color: rgb(247, 12, 12);
        }
    }
}